<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:p="http://www.springframework.org/schema/p"
   xsi:schemaLocation="http://www.springframework.org/schema/beans 
                              http://www.springframework.org/schema/beans/spring-beans.xsd">


   <bean id="collectionBean" class="com.springbook.ioc.injection.CollectionBean">
      <property name="addressList">
         <map>
         	<entry>
            	<key><value>이씨</value></key>
            	<value>서울시 성동구 행당동</value>
        	</entry>
        	<entry>
            	<key><value>김씨</value></key>
            	<value>서울시 성동구 행당동</value>
        	</entry>
         </map>      
      </property>
   </bean>
</beans>